/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    font-size: 18px;
}

header {
    background-image: url(images/bg-hero-desktop.svg);
    padding: 50px;
    background-color: hsl(193, 100%, 96%);
    color: hsl(192, 100%, 9%);
    margin-bottom: 2em;
}

.main-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.logo-img {
    height: 1.2em;
}

.heading {
    font-family: 'Poppins', sans-serif; 
    color: hsl(192, 100%, 9%);
}

.heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 1em; */
}

#service-display {
    height: 30em;
}

.description {
    max-width: 30%;
}

.description p {
    font-size: 0.75em;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    border-radius: 2em;
    padding: 0.9em 4em;
    box-shadow: hsl(208, 28%, 76%) 0px 2px 4px;
    transition: opacity 200ms ease-in-out;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

#try-it {
    border:none;
    background-color: white;
    font-weight: 700;
}

.start-free {
    background-color: hsl(322, 100%, 66%);
    font-weight: 700;
    color: white;
    margin-top: 1.5em;
}

.middle {
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: relative;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow:hsl(208, 28%, 76%) 0px 0px 4px;
    padding: 1.5em 5em;
    margin-bottom: 1.5em;
}

.card:nth-of-type(3) {
    margin-bottom: 15em;
}

.card-desc {
    max-width: 40%;
}

.card-img {
 height: 22em;
}

.card-desc p {
    font-weight: 400;
    color: hsl(208, 28%, 76%);
    font-size: 0.95em;
}

#spl-card {
    background-color: white;
    box-shadow:hsl(208, 28%, 76%) 0px -1px 4px;
    width: 65%;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
    bottom:-4.5em;
    padding: 3em;
}

#spl-card button {
    padding: 1.4em 4em;
}

footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
}

#footer-logo {
    height: 2em;
    margin-bottom: 2em;
}

.main-footer {
    padding: 5em;
    padding-top: 8em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: small;
}

.container-1 {
    max-width: 25%;
}
.container-1 img {
    align-self: flex-start;
}

.info {
    display: flex;
}

.info p {
    margin-top: 0;
    margin-bottom: 2em;
}

.info-img {
    margin-right: 2em;
}

.container-1 p {
    display: inline;
}

.container-4 {
    min-width: 8em;
    fill: white;
    justify-content: flex-start;
}

.container-4 ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-shrink: 0;
}

.hyperlink a {
    text-decoration: none;
    color: white;
}

.hyperlink a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.ionicon {
    height: 1.7em;
    transition: 200ms ease-in-out;
}

.ionicon:hover{
    fill:hsl(322, 100%, 66%)
}

#copyright p{
    text-align: end;
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 2em;
    display: block;
    padding-right: 3em;
}
