body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    margin:5% 0%;
    display: flex;
    flex-direction: column;
    width: 19em;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 10px;
}

.nft-img {
    display: block;
    border-radius: 2%;
    align-self: center;
    width: 100%;
    height: 270px;
    transition: 200ms ease-in;
}
.nft-container {
    background-color: cyan;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view {
    position: absolute;
    z-index: 2;
    display: none;
    transition: 200ms ease-in;
}
.heading {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 0;
}

.svg {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
}

.focus {
    display: inline;
    color: cyan;
    font-weight: 400;
    font-size: 18px;
}
.info {
    color:hsl(215, 51%, 70%);
    font-size: 18px;
}

.time {
    display: inline;
}

.sub-info {
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    display: flex;
    justify-content: space-between;
}

#avatar-img {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 30px;
    vertical-align:middle;
    height: 30px;
    width: 30px;
}

.author {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    vertical-align:text-top;
    margin-left: 10px;
}

.hover:hover {
    color: cyan;
}
.nft-img:hover {
    opacity: 0.5;
}
.nft-container:hover .view {
    display: inline;
}
